.container{
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr 100px ;
  justify-items: center;
}
.container-items{
  border-style: solid;
  margin-top: 50px;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(10,110px);
  grid-template-rows: repeat(10,50px);;
}

.item{
  text-align: center;
}
.course-button {
  align-self: center;
}

.course-button .false{
  background: rgb(255, 95, 95);
  border-color:black;
  font-size: 1em;
  color:black;
}

.course-button .true{
  background: rgb(65, 255, 65);
  border-color:black;
  font-size: 1em;
  color:black;
}

.calculate-button{
  margin-top:50px;
}

@media screen and (max-width: 1110px){
  .container-items{
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,25px);;
  }
  .course-button .false{
    font-size: 0.5em;
  }
  .course-button .true{
    font-size: 0.5em;
  }
}

@media screen and (max-width: 518px){
  .container-items{
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,20px);;
  }
  .course-button .false{
    font-size: 0.4em;
  }
  .course-button .true{
    font-size: 0.4em;
  }
}